body {
    display: grid;
    grid-template-rows: auto auto auto;
    /*min-height: 100vh;*/
    margin: 0px;
    transition: 0.4s;
}

#navbar {
    grid-column: 1;
    grid-row: 1;
    position: sticky;
    top: 0px;
    background-color: rgb(62, 15, 78);
    box-shadow: 0 10px white;
}


.content {
    grid-column: 1;
    grid-row: 2;
    min-height: 100vh;
    background-image: radial-gradient(circle at bottom right, #35E474, #152f3f 40%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    grid-column: 1;
    grid-row: 3;
    background-color: #24262b;
}