doctype html
html 
    head 
        meta(charset='utf-8')
        title iGEM T端bingen 
        link(rel="stylesheet" href="./css/styles.css")
        link(rel="shortcut icon" href="./img/Logo_circular_square.png" type="image/png")
        //link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
         
        script(src="./js/scripts.js")
    
    body 
        .navbar.sticky#navbar
            nav
                ul.nav.flex 
                    li
                        a(href="index.html")
                            img.logo#navbar-logo(src="./img/Logo_regular.png" type="image/png" alt="Logo of iGEM Tuebingen 2022")
                    li
                        a.nav(href="#owner") Contact Information


        .content#content
            h1 Contact Information

            p This website is owned by the iGEM team T端bingen.

            p iGEM T端bingen<br>Auf der Morgenstelle 28<br>72076 T端bingen<br>Germany 
            p 
                a(href="mailto:team@igem-tuebingen.de") team@igem-tuebingen.de


            

            p(style='margin-bottom:11rem;')

        footer.footer
            .container
                .row
                    .footer-col
                        h4 Contact:
                        ul.links
                            li
                                a(href='mailto:team@igem-tuebingen.de ') team@igem-tuebingen.de 
                            li
                                a(href='privacy-policy.html') Privacy Policy
                            li 
                                a(href='contact.html') Contact
                    .footer-col
                        h4 follow us
                        .social-links
                            a(href='https://www.facebook.com/igemtuebingen/')
                                i.fab.fa-facebook-f
                            a(href='https://twitter.com/igemtuebingen?lang=de')
                                i.fab.fa-twitter
                            a(href='https://www.instagram.com/igem_tuebingen/')
                                i.fab.fa-instagram
                            //a(href='#')
                                i.fab.fa-youtube