doctype html
html 
    head 
        meta(charset='utf-8')
        title iGEM T端bingen 
        link(rel="stylesheet" href="./css/positioning.css")
        link(rel="stylesheet" href="./css/navbar.css")
        link(rel="stylesheet" href="./css/content.css")
        link(rel="stylesheet" href="./css/footer.css")
        link(rel="shortcut icon" href="./img/Logo_circular_square.png" type="image/png")
        script(src="./js/navbar-scroll.js")
    
    body#body
        #navbar.big
            nav
                ul.nav
                    li.logo-li
                        a(href="index.html")
                            img.logo#navbar-logo(src="./img/Logo_white.png" type="image/png" alt="Logo of iGEM Tuebingen 2022")
                    .menu
                        li
                            a.navlink(href="#contact") Contact Information


        .content
            .text
                .anchor#contact
                h1 Contact Information

                p This website is owned by the iGEM team T端bingen.

                p iGEM T端bingen<br>Auf der Morgenstelle 28<br>72076 T端bingen<br>Germany 
                p 
                    a(href="mailto:team@igem-tuebingen.de") team@igem-tuebingen.de

            .side

        footer.footer
            .links
                h4 Important links:
                ul
                    li
                        a(href='mailto:team@igem-tuebingen.de ') team@igem-tuebingen.de 
                    li
                        a(href='privacy-policy.html') Privacy Policy
                    li 
                        a(href='contact.html') Contact
            .social-links       
                h4 Follow us
                br
                a(href='https://www.facebook.com/igemtuebingen/')
                    img(src="./img/facebook.svg", alt="Facebook")
                a(href='https://twitter.com/igemtuebingen')
                    img(src="./img/twitter.svg", alt="Twitter")
                a(href='https://www.instagram.com/igem_tuebingen/')
                    img(src="./img/instagram.svg", alt="Instagram")