doctype html
html 
    head 
        meta(charset='utf-8')
        title iGEM Tübingen 
        link(rel="stylesheet" href="./css/positioning.css")
        link(rel="stylesheet" href="./css/navbar.css")
        link(rel="stylesheet" href="./css/content.css")
        link(rel="stylesheet" href="./css/footer.css")
        link(rel="shortcut icon" href="./img/Logo_circular_square.png" type="image/png")
        script(src="./js/navbar-scroll.js")
    
    body#body
        #navbar.big
            nav
                ul.nav
                    li.logo-li
                        a(href="index.html")
                            img.logo#navbar-logo(src="./img/Logo_white.png" type="image/png" alt="Logo of iGEM Tuebingen 2022")
                    .menu
                        li
                            a.navlink(href="#owner") iGEM Tuebingen
                        li
                            a.navlink(href="#host") GitHub
                        li
                            a.navlink(href="#contact") Contact


        .content#content
            .text
                h1 Privacy Policy

                h2 Website owner: iGEM Tuebingen
                    .anchor#owner
                
                p iGEM Tuebingen does not collect any user data.

                h2 Website hoster: GitHub
                    .anchor#host

                p 
                    | This webiste is hosted by GitHub via the GitHub Pages service. GitHub saves acces logs, this may include among others 
                    | the users IP adress, the pages you view, information about your device, session information and time and date of each 
                    | request. This data is not accessable by the website owner.
                    | For more information read GitHubs 
                    a(href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement") Privacy Policy 
                    | and 
                    a(href="https://github.com/customer-terms/github-data-protection-agreement") Data Protection Agreement (pdf)
                    | .
            .side

            

        

        footer.footer
            .links
                h4 Important links:
                ul
                    li
                        a(href='mailto:team@igem-tuebingen.de ') team@igem-tuebingen.de 
                    li
                        a(href='privacy-policy.html') Privacy Policy
                    li 
                        a(href='contact.html') Contact
            .social-links       
                h4 Follow us
                br
                a(href='https://www.facebook.com/igemtuebingen/')
                    img(src="./img/facebook.svg", alt="Facebook")
                a(href='https://twitter.com/igemtuebingen')
                    img(src="./img/twitter.svg", alt="Twitter")
                a(href='https://www.instagram.com/igem_tuebingen/')
                    img(src="./img/instagram.svg", alt="Instagram")